-----BEGIN CERTIFICATE-----
MIIDFDCCAfygAwIBAgIRAMKsaVSaKm8oZBmLHsl4JkQwDQYJKoZIhvcNAQELBQAw
FDESMBAGA1UEAxMJaGFyYm9yLWNhMB4XDTI0MTAyMDAwMjQzNVoXDTI1MTAyMDAw
MjQzNVowFDESMBAGA1UEAxMJaGFyYm9yLWNhMIIBIjANBgkqhkiG9w0BAQEFAAOC
AQ8AMIIBCgKCAQEA0dDqpEAuvyd7TZR2sGq7LO1YhPbLnyCGptpQnjeGJzsDpz4j
oCC2KgfN5wyEl7o0UCAM39jwEX06sjitKtbmknfdtDIOHtLuwkV01bnhmkBjObb5
A+EXpY8id0yx1fM9GgQub5JEOx3FP8JdL639CSeMU+yqRITXc6AG83ep/fy8Lu81
4NElaV0HdPL810FNbai9fhCmZAvn/TrEDk6tvZ8go11Z+71tpxRW8IpF0wrEs/K6
btDS/eI4El0ySaL7eEz1aboHlliu9knCUkxIe1/6hqL03eZiMB5DJ16fBrhvsk0d
VVgHBCelqAUOlrBNx67iVxZwKQ4kqxuKmKh+IwIDAQABo2EwXzAOBgNVHQ8BAf8E
BAMCAqQwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMA8GA1UdEwEB/wQF
MAMBAf8wHQYDVR0OBBYEFDzN8ghpabU7pCubCV+52rk07LfNMA0GCSqGSIb3DQEB
CwUAA4IBAQAZopAbPmjfvkG3YJgQJbfum8URFdyjeUMZbU6+iV9EPM5Y7fCae6rJ
6xcae+rsXuJVnfNbVdHO2nU5FdhJFGuZZtqhfjDC/+8BR1UiPqcy1wwmrtEO8SCX
Eqm1c1mXsq5kqz90+b5ISWJ6V3Ay7Z8Jn+DxcsskCDN+1Y7DcMb2uMrlKIO8qX8R
M6wpKvs7DWgEOgQKVTZi5F7IPlowUrZCN6GArVhe0SWN9K71atV1WYOMKE0tvcPn
aCDbScnZXTJ9sbD+tFCHJFNOehbrYc3S2SmQ9pF7BSC7TkMV8n1tK1Tm4sLRxt+k
2MGrDy+8+EgGDvXWBIt0U6vw7L8/0r3X
-----END CERTIFICATE-----
